.wrap {
  padding-bottom: 0;
  background: #FFF; }

.main {
  padding: 26px 47px 40px; }

a {
  color: #000; }

.page-title-text {
  background: url(../images/page-bg.jpg) 50% 0 no-repeat fixed; }

.submit-btn a {
  width: 100%;
  padding: 25px 0;
  border-radius: 10px;
  background: #000;
  color: #FFF;
  text-align: center;
  font-size: 28px;
  margin-top: 42px;
  letter-spacing: 6px; }

.case-row {
  position: relative; }
  .case-row .value {
    position: absolute;
    top: -2px;
    left: 108px;
    width: 230px; }
  .case-row.num .value {
    font-size: 40px;
    top: -11px;
    font-family: "NotoSansTC-Bold"; }
  .case-row.date .value {
    font-size: 28px; }
  .case-row.type .value {
    font-size: 28px; }
  .case-row ~ .case-row {
    margin-top: 22px; }

.title {
  font-size: 22px;
  color: #a2a2a2; }

.value {
  font-size: 28px; }

.page-title-group {
  -webkit-box-shadow: 4px 4px 12px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 12px 7px rgba(0, 0, 0, 0.1); }

.search {
  width: 548px;
  margin: 30px auto 40px;
  font-size: 0; }
  .search input {
    display: inline-block;
    vertical-align: top;
    width: 480px;
    height: 60px;
    font-size: 28px;
    padding-left: 15px; }
  .search .search-btn {
    display: inline-block;
    vertical-align: top;
    width: 68px;
    height: 60px;
    background: #000 url("../images/search/icon-search.png") 50% 50% no-repeat; }

.row .value {
  margin-top: 8px; }

.row.complete-date .value {
  color: #c60026;
  font-family: "NotoSansTC-Bold"; }

.row.reply .value {
  color: #c60026;
  font-family: "NotoSansTC-Bold"; }

.row ~ .row {
  margin-top: 16px; }

.case-group {
  background: #FFF;
  margin-top: -1px; }
  .case-group .case-text {
    float: left;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 8px; }
  .case-group .case-status {
    float: right;
    display: inline-block;
    vertical-align: top; }
  .case-group a {
    padding: 28px 47px; }
    .case-group a:before, .case-group a:after {
      content: " ";
      display: table; }
    .case-group a:after {
      clear: both; }

.swiper-container {
  margin-top: 8px;
  margin-right: -47px; }

.swiper-slide {
  width: auto;
  /* Center slide text vertically */ }
